.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
/* We wrie media query to make your page responsive. */
@media (max-width: 750px) {
  .grid-container{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width: 1000px) {
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.video-image{
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
  }
  .time-stamp-container{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
  }
  .thumbnail-image {
    width: 100%;
  }
  .video-info-grid{
    display: grid;
    grid-template-columns: 48px 1fr;
  }
  .profile-image {
    width:36px;
    border-radius: 25px;
  }
  .video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  .channel-name {
    margin-top: 10px;
    color: gray;
    font-size: 12px;
  }
  .video-stats {
    margin-top: 4px;
    font-size: 12px;
    color: gray;
  }
 